body {background-color: rgb(84, 84, 218);
}

h1 {text-align: center;
}

h2 {text-align: center;
}

h2 {background-color: rgb(150, 15, 42);
}

#imal {width: 50%;
}
h2 {boder-color: black;
    boder: 4px;
    boder-style: solid;
}